.card_wrapper {
  min-height: 100px;
  max-width: 250px;
  border-radius: 15px;
  border: 1px solid rgba($color: #eeeeee, $alpha: 0.7);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba($color: #eeeeee, $alpha: 0.35);
  padding: 10px;
}
